# Copyright (c) Armidale Software
# SPDX-License-Identifier: MIT
---
name: CPP CI

on:
  pull_request:

concurrency:
  # Cancel any CI/CD workflow currently in progress for the same PR.
  # Allow running concurrently with any other commits.
  group: build-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  build_ubuntu:
    permissions:
      actions: write  # for fkirc/skip-duplicate-actions to skip or stop workflow runs
      contents: read  # for actions/checkout to fetch code
    runs-on: ubuntu-latest

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@cb605e52c26070c328afc4562f0b4ada7618a84e  # v2.10.4
        with:
          egress-policy: audit

      - id: skip_check
        uses: fkirc/skip-duplicate-actions@f75f66ce1886f00957d99748a42c724f4330bdcf  # v5.3.1
        with:
          cancel_others: 'false'
          paths_ignore: '["**.md"]'

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
        if: steps.skip_check.outputs.should_skip != 'true'

      - name: Build Dependencies
        if: steps.skip_check.outputs.should_skip != 'true'
        run: sudo apt install -y libreadline-dev libgdbm-dev libgtest-dev

      - name: Build
        if: steps.skip_check.outputs.should_skip != 'true'
        run: |
          make

      - name: Install
        if: steps.skip_check.outputs.should_skip != 'true'
        run: |
          true #./Install

      - name: Run tests
        if: steps.skip_check.outputs.should_skip != 'true'
        run: |
          make test
